<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="row">
        <div ng-repeat="user in users" ng-hide="newuser">
            <div class="panel panel-default">
                <div class="btn-group pull-right">
                    <a class="btn btn-default" ng-click="update(user)">Update</a>
                    <a class="btn btn-danger" ng-click="remove(user)">Delete</a>
                </div>
                <div class="panel-heading">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input ng-model="user.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input ng-model="user.username" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input ng-model="user.email" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary btn-block" ng-click="add()" ng-hide="newuser" >
            Create
        </button>

        <form ng-show="newuser" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input ng-model="newuser.name" type="text" class="form-control" placeholder="Name" id="name" ng-change="autofill()" required>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input ng-model="newuser.username" type="text" class="form-control" placeholder="Username" id="username">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input ng-model="newuser.email" type="text" class="form-control" placeholder="Email" id="email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" ng-click="create()">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>

    <h1 data-ng-hide="!restaurants || restaurants.length">No restaurants yet</h1>

    <h1 data-ng-hide="!users || users.length">No users yet</h1>
</section>